body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: serif;
}

p{
    font-size: 1.25rem;
    font-weight: 300;
    color: #555555;
}

header{
    background: url(assets/bill-gates-bg\ \(1\).jpg);
    height: 100vh;
    padding: 0;
    animation: fade-in 4000ms forwards;
    filter: opacity(0);
}

h1{
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin: 0;
    font-size: 8rem;
    font-weight: 700;
    background: linear-gradient(#ffffff, #71b2cc);
    background-clip: text;
    color: transparent;
    animation: fade-in-slide 2000ms forwards;
}

h2{
    font-size: 3rem;
    margin: 0;
    font-weight: 500;
}

h3{
    font-size: 2rem;
    font-weight: 400;
}

@keyframes fade-in{
    from{opacity: 0; filter: blur(10px);}
    60%{opacity: 0.8; filter: blur(2px);}
    to{opacity: 1; filter: blur(0);}
}

@keyframes fade-in-slide{
    from{opacity: 0; filter: blur(10px); transform: translateX(-200px);}
    to{opacity: 1; filter: blur(0); transform: translateX(0);}
}

main{
    background-color: #ebebeb;
}

#his-story{
    margin: 0;
    height: 1000px;
    text-align: center;
    padding-top: 100px;
}

.story-container{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.number{
    padding: 0 20px;
    font-size: 4rem;
    border: 5px solid #8d8d8d;
    border-radius: 20px;
    color: #bebebe;
}

.story-container div{
    display: flex;
    flex-direction: column;
    padding: 25px 35px;
    width: 30%;
}

#achievement{
    text-align: center;
    height: auto;
    padding: 100px 0;
}

.which-one{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.which-one div{
    min-width: 500px;
    background-color: #D9D9D9;
    border-radius: 10px;
}

#achievement p{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#quotes{
    height: auto;
    padding: 100px 0;
}

.pic-and-quote-box{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    text-align: center;
}

.pic-and-quote-box img{
    width: 80%;
    border-radius: 10px;
}

.pic-and-quote-box:nth-child(1){
    margin-left: 10%;
}

.pic-and-quote-box:nth-child(2){
    margin-left: 35%;
}

.pic-and-quote-box:nth-child(3){
    margin-left: 15%;
}

.other-quotes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 300px;
}

.other-quotes div{
    width: 30%;
    background-color: #D9D9D9;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

h4{
    color: #555555;
    font-size: 2.25rem;
    font-weight: 100;
    margin: 0;
}

#sources{
    padding: 100px;
    text-align: center;
}